---
---
{% if page.state == 'result' %}
/* Shape Markup */
@media screen and (min-width: 600px) {
    .one {
        -webkit-shape-inside: polygon(0 0, 100% 0, 100% 33%, 50% 33%, 50% 67%, 100% 67%, 100% 100%, 0 100%);
    }
    .two {
        -webkit-shape-inside: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 67%, 50% 67%, 50% 33%, 0% 33%);
    }
}
{% endif %}{% if page.state == 'result' or page.state == 'exclusions' %}
/* Regions Markup */
.one, .two {
    -webkit-flow-from: story-flow;
}
.content {
    -webkit-flow-into: story-flow;
}
{% endif %}{% if page.state == 'result' or page.state == 'exclusions' or page.state == 'regions' %}
/* Grid Markup */
.grid {
    display: -webkit-grid;
    -webkit-grid-columns: 25% 25% 25% 25%;
    -webkit-grid-rows: 33% 34% 33%;
    width: 100%;
    height: 100%;
}
.one, .two {
    -webkit-grid-before: 1;
    -webkit-grid-after: 1;
}
.one {
    -webkit-grid-start: 1;
    -webkit-grid-end: 3;
}
.two {
    -webkit-grid-start: 3;
    -webkit-grid-end: 1;
}
.inset {
    -webkit-grid-before: 2;
    -webkit-grid-after: 2;
    -webkit-grid-start: 2;
    -webkit-grid-end: 2;
}
@media screen and (max-width: 600px) {
    .one {
        -webkit-grid-before: 1;
        -webkit-grid-after: 3;
        -webkit-grid-start: 1;
        -webkit-grid-end: 1;
    }
    .two {
        -webkit-grid-before: 3;
        -webkit-grid-after: 1;
        -webkit-grid-start: 1;
        height: auto;
    }
    .inset {
        -webkit-grid-before: 2;
        -webkit-grid-after: 2;
        -webkit-grid-start: 1;
        -webkit-grid-end: 1;
    }
}
{% endif %}
html, body, .grid { width: 100%; height: 100%; margin: 0;}
.grid > * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    counter-increment: box-counter;
}
.placeholder {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 200px;
    line-height: 1.2;
    background-color: #91c46c;
    color: white;
}
.placeholder:before {
    content: counter(box-counter);
}
.inset {
    background: white url('../resources/cheshire.svg') no-repeat center;
    background-size: 100%;
}
{{ content }}