
/* Grid Markup */
/* We will be using fallback markup, as the Grid implementation is currently in flux. */
/*****************************************
.grid {
    display: -webkit-grid;
    -webkit-grid-columns: 25% 25% 25% 25%;
    -webkit-grid-rows: 33% 34% 33%;
    width: 100%;
    height: 100%;
}
.one, .two {
    -webkit-grid-row: 1 / -1;
}
.one {
    -webkit-grid-column: 1 / -3;
}
.two {
    -webkit-grid-column: 3 / -1;
}
.inset {
    -webkit-grid-row: 2 / -2;
    -webkit-grid-column: 2 / -2;
}
@media screen and (max-width: 600px) {
    .one, .two, .inset {
        -webkit-grid-column: 1 / -1;
    }
    .one {
        -webkit-grid-row: 1;
    }
    .two {
        -webkit-grid-row: 3;
        height: auto;
    }
    .inset {
        -webkit-grid-row: 2;
    }
}
 **************************************/
.grid {
    width: 100%;
    height: 100%;
    position: relative;
}
.grid .one, .grid .two, .grid .inset {
    position: absolute;
    height: auto;
}
.one, .two { top: 0; bottom: 0; }
.one { left: 0; right: 50%; }
.two { left: 50%; right: 0; }
.inset { top: 33%; bottom: 33%; left: 25%; right: 25%; }
@media screen and (max-width: 600px) {
    .one, .two, .inset { left: 0; right: 0; }
    .one { top: 0; bottom: 67%; }
    .two { top: 67%; bottom: 0; }
    .inset { top: 33%; bottom: 33%; }
}

html, body, .grid { width: 100%; height: 100%; margin: 0;}

.grid > * {
    box-sizing: border-box;
    height: 100%;
    counter-increment: box-counter;
}
.placeholder {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 200px;
    line-height: 1.2;
    background-color: #91c46c;
    color: white;
}
.placeholder:before {
    content: counter(box-counter);
}
.inset {
    background: white url('../resources/cheshire.svg') no-repeat center;
    background-size: 100%;
}

