---
layout: default
title: Regions and Grid Layout Exercise
comment: |
    Goal: Flow the Alice in Wonderland content through areas one and two

    Layout 1
    + - - - - - - - - +
    | A      |      C |
    |   +- - - - -+   |
    | L |  INSET  | E |
    |   +- - - - -+   |
    | I      |        |
    + - - - - - - - - +

    Layout 2
    + - - - - +
    | A  L  I |
    + - - - - +
    |  INSET  |
    + - - - - +
    | C  E    |
    + - - - - +

    Description:
    1. Content should be placed into a named flow
    2. Grid areas should pull from the above named flow
styleIncludes:
 - presets-02.css
 - ../resources/font.css
scriptIncludes:
 - ../resources/feature-detect.js
style: |
    <style>
    /*********
     * WORK HERE
     *********/
     .one, .two {

     }
     .content {

     }
    </style>
---
{% include grid-container.html %}
{% include grid-content.html %}