---
layout: default
title: Exclusions, Regions, and Grid
comment: |
    Goal: Wrap content around the inset using a shape-inside

    Layout 1
    + - - - - - - - - +
    | A L I  |  W O N |
    |   +- - - - -+   |
    | C |  INSET  | D |
    |   +- - - - -+   |
    | E I N  |  E R L |
    + - - - - - - - - +

    Description:
    1. The regions should have polygonal shape-insides
    (you can use resources/shape-utility.html with resources/grid-template.svg)
    2. The shape-insides only apply to Layout 1
styleIncludes:
 - presets-02.css
 - ../resources/font.css
scriptIncludes:
 - ../resources/feature-detect.js
style: |
    <style>
    /*********
     * WORK HERE
     *********/
     .one {

     }
     .two {

     }
     @media screen {

     }
    </style>
---
{% include grid-container.html %}
{% include grid-content.html %}