---
layout: default
title: Exclusions, Regions, and FlexBox
comment: |
    Goal: Wrap content to fit the contours of the 'A'

         ___
        / _ \  L
       / / \ \  I
      /  - -  \  C
     / /     \ \  E
    - -       - - 

    Description:
    The 'A' should have a polygonal shape-outside (see resources/shape-utility.html)
styleIncludes:
 - presets-01.css
 - ../resources/font.css
scriptIncludes:
 - ../resources/feature-detect.js
style: |
    <style>
    /*********
     * WORK HERE
     *********/
    .content:first-letter {
        
    }
    </style>
---
{% include flexbox-container.html %}
{% include flexbox-content.html %}